<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Registro servicio</title>
  <link rel="stylesheet" href="./../../node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h4>Laboratorio</h4>
          </div>
          <div class="col-6 d-flex flex-row-reverse">
            <button id="muestra" type="button" class="btn btn-primary btn-sm">
              &#9660;
            </button>
            <img src="./../assets/images/user.png" onclick="toggleMenu()" id="profileUser1">
            <div class="menu-wrap" id="subMenu">
              <div class="menu">
                <div class="user-info">
                  <img src="./../assets/images/user.png" id="profileUser2">
                  <h6 id="profileName">Nombre generico</h6>
                  <hr>
                  <a href="#" class="menu-link" id="btnUsuarios">
                    <img src="./../assets/images/user.svg">
                    <p>Administra usuarios</p>
                    <span>></span>
                  </a>
                  <a href="#" class="menu-link" id="btnConf">
                    <img src="./../assets/images/settings.svg">
                    <p>Configuración</p>
                    <span>></span>
                  </a>
                  <a href="#" class="menu-link" id="btnLogout">
                    <img src="./../assets/images/logout.svg">
                    <p>Cerrar sesión</p>
                    <span>></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="row buton-r" id="botones">
    <div class="col-2">
      <a class="btn btn-primary" href="./prestamo.html" role="button">Prestámo</a>
    </div>
    <div class="col-2">
      <a class="btn btn-primary" href="./devolucion.html" role="button">Devolución</a>
    </div>
    <div class="col-2">
      <a class="btn btn-primary disabled" href="./equipos.html" role="button" aria-disabled="true">Equipos</a>
    </div>
    <div class="col-2">
      <a class="btn btn-primary" href="./historial.html" role="button">Historial</a>
    </div>
    <div class="col-2">
      <a class="btn btn-primary" href="./lista.html" role="button">Lista negra</a>
    </div>
    <div class="col-2">
      <a class="btn btn-primary" href="./alumnos.html" role="button">Alumnos</a>
    </div>
  </div>

  <div class="container">
    <div class="card">

      <div class="card-body">
        <div class="table-responsive">
          <table id="equipos_data" class="table table-bordered table-hover tabla">
            <thead>
              <tr>
                <th class="centered-header">idEquipo</th>
                <th class="centered-header">Marca</th>
                <th class="centered-header">Modelo</th>
                <th class="centered-header">Número de Serie</th>
                <th class="centered-header">Tipo</th>
                <th class="centered-header">Accion</th>
              </tr>
            </thead>
            <tbody id="tableBody_users"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery primero -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- DataTable -->
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

  <!-- Otros scripts después -->
  <script src="./../assets/vendors/boot/js/bootstrap.js"></script>
  <script src="./../../node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="./js/menu.js"></script>
  <script src="./js/login-user.js"></script>
  <script src="./js/equipos.js"></script>

</body>

</html>