<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Registro servicio</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row full">

      <div class="card">
        <div class="login-c">
          <div class="head">
            <h4>Laboratorio</h4>
            <h5 id="text-error" class="text-muted font-weight-normal">
              ¡Bienvenido! Ingrese a su cuenta
            </h5>
          </div>
          
          <form class="text-center" onsubmit="return formSubmit(event)">
            <div class="input-group mb-3">
              <div class="input-group-append">
                <div class="input-group-text"><img src="./../assets/images/user.svg"></div>
              </div>
              <input type="text" name="user" class="form-control" placeholder="Usuario" id="username">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-append">
                <div class="input-group-text"><img src="./../assets/images/lock-fill.svg"></div>
              </div>
              <input type="password" class="form-control" id="contra" placeholder="Contraseña">
              <img src="./../assets/images/eye.svg" id="eye" onclick="VerPass()">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary" id="btnLogin">Enviar</button>
            </div>
          </form>
          <div class="row">
            <a href="./login-h.html" class="text-center">Iniciar sesión con huella digital</a>
          </div>
        </div>
      </div>

    </div>

  </div>
  <script src="./js/login.js"></script>
  <script src="./../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>