<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Registro servicio</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="./../../node_modules/sweetalert2/dist/sweetalert2.min.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <h4>Laboratorio</h4>
                    </div>
                    <div class="col-6 d-flex flex-row-reverse">
                        <img src="./../assets/images/user.png" onclick="toggleMenu()" id="profileUser">
                        <div class="menu-wrap" id="subMenu">
                            <div class="menu">
                                <div class="user-info">
                                    <img src="./../assets/images/user.png">
                                    <h6 id="#profileName">Nombre generico</h6>
                                    <hr>
                                    <a href="#" class="menu-link" id="btnConf">
                                        <img src="./../assets/images/settings.svg">
                                        <p>Configuración</p>
                                        <span>></span>
                                    </a>
                                    <a href="#" class="menu-link" id="btnLogout">
                                        <img src="./../assets/images/logout.svg">
                                        <p>Cerrar sesión</p>
                                        <span>></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="row buton-r">
        <div class="col-2">
            <a class="btn btn-primary disabled" href="./prestamo.html" role="button" aria-disabled="true">Prestámo</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="./devolucion.html" role="button">Devolución</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="./equipos.html" role="button">Equipos</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="./historial.html" role="button">Historial</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="./lista.html" role="button">Lista negra</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="./usuarios.html" role="button">Usuarios</a>
        </div>
    </div>
    <div class="row prestamo">
        <div class="col-4 d-flex justify-content-center flex-column">
            <div class="row mb-4">
                <div class="col-12 d-flex flex-column align-items-center">
                    <h6>Identificate</h6>
                    <form onsubmit="return formSubmitM(event)">
                        <div class="mb-3">
                            <label for="matricula" class="form-label">Matricula</label>
                            <input placeholder="Matricula" type="text" class="form-control form-control-sm" id="matri"
                                name="matri">
                        </div>
                        <div class="mb-3 col-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3 col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btn-sm" formaction="./prestamo.html">
                                    <img src="./../assets/images/huella.png">
                                </button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3 col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btn-sm" formaction="./prestamo.html">
                                    <img src="./../assets/images/camara.png">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column align-items-center">
                    <h6>Producto</h6>
                    <form onsubmit="return formSubmitE(event)">
                        <div class="mb-3">
                            <label for="producto" class="form-label">Código</label>
                            <input placeholder="Código" type="text" class="form-control form-control-sm" id="product"
                                name="product">
                        </div>
                        <div class="mb-3 col-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
                        </div>
                    </form>
                    <div class="col-12">
                        <div class="mb-3 col-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-sm" formaction="./prestamo.html">
                                <img src="./../assets/images/camara.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <form onsubmit="return EnviarPrestamo(event)">
                <fieldset disabled>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6>Datos del alumno</h6>
                            <div class="mb-3">
                                <label for="Amatricula" class="form-label">Matricula</label>
                                <input placeholder="Matricula" type="text" class="form-control form-control-sm"
                                    id="Amatri" name="Amatri">
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre(s)</label>
                                <input placeholder="Nombre(s)" type="text" class="form-control form-control-sm"
                                    id="nomb" name="nomb">
                            </div>
                            <div class="mb-3">
                                <label for="apellidos" class="form-label">Apellidos</label>
                                <input placeholder="Apellidos" type="text" class="form-control form-control-sm"
                                    id="apelli" name="apelli">
                            </div>
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo</label>
                                <input placeholder="Correo" type="email" class="form-control form-control-sm" id="corre"
                                    name="corre">
                            </div>
                            <div class="mb-3">
                                <label for="carrera" class="form-label">Carrera</label>
                                <input placeholder="Carrera" type="text" class="form-control form-control-sm" id="carre"
                                    name="carre">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h6>Datos del Equipo</h6>
                            <div class="mb-3">
                                <label for="id" class="form-label">ID del equipo</label>
                                <input placeholder="ID" type="text" class="form-control form-control-sm" id="ide"
                                    name="ide">
                            </div>
                            <div class="mb-3">
                                <label for="marca" class="form-label">Marca</label>
                                <input placeholder="Marca" type="text" class="form-control form-control-sm" id="marc"
                                    name="marc">
                            </div>
                            <div class="mb-3">
                                <label for="modelo" class="form-label">Modelo</label>
                                <input placeholder="Modelo" type="text" class="form-control form-control-sm" id="mod"
                                    name="mod">
                            </div>
                            <div class="mb-3">
                                <label for="tipo" class="form-label">Tipo</label>
                                <input placeholder="Tipo" type="text" class="form-control form-control-sm" id="tip"
                                    name="tip">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row d-flex justify-content-center">
                    <div class="mb-3 col-2 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" id="btnEnviar" disabled>Enviar</button>
                    </div>
                    <div class="mb-3 col-2 d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" id="btnLimpiar" disabled>Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="./../assets/vendors/boot/js/bootstrap.js"></script>
    <script src="./../../node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="./js/prestar.js"></script>
    <script src="./js/menu.js"></script>
</body>

</html>