<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Registro servicio</title>
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h4>Laboratorio</h4>
          </div>
          <div class="col-6 d-flex flex-row-reverse">
            <img src="./../assets/images/user.png">
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="row buton-r">
    <div class="col-2">
      <button class="btn btn-primary" type="submit" formaction="./prestamo.html" disabled>Prestámo</button>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" type="submit" formaction="./devolucion.html">Devolución</button>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" type="submit" formaction="./equipos.html">Equipos</button>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" type="submit" formaction="./historial.html">Historial</button>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" type="submit" formaction="./lista.html">Lista negra</button>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" type="submit" formaction="./usuarios.html" disabled>Usuarios</button>
    </div>
  </div>
  <script src="./../assets/vendors/boot/js/bootstrap.js"></script>
</body>

</html>